name: Build and Publish Docker Image with Version Numbers of Node.js

on:
  workflow_call:
    inputs:
      branches:
        required: true
        type: string
        description: "Branches to trigger the workflow"
    secrets:
      GITHUB_TOKEN:
        required: true

env:
  REGISTRY: ghcr.io

jobs:
  image:
    runs-on: ubuntu-latest
    permissions: write-all
    outputs:
      version: ${{ steps.package_version.outputs.version }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Extract package version
        id: package_version
        run: |
          version=$(node -p "require('./package.json').version")
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Use package version
        run: |
          PACKAGE_VERSION=${{ steps.package_version.outputs.version }}
          echo "Using package version: $PACKAGE_VERSION"

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}
          tags: |
            type=raw,value=${{ steps.package_version.outputs.version }}
            type=raw,value=latest

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
